rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if isSystemAdmin() || isOfficeAdmin() || isCustomer();
      allow update: if 
        // User is authenticated
        request.auth != null &&
        // Only allow updating isActive field
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(["isActive"]) &&
        // Updater is an office admin in the same office
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "office_admin" &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.officeId == resource.data.officeId &&
        // Target is a customer
        resource.data.role == "customer";
      allow write: if isSystemAdmin();
      allow create: if isOfficeAdmin()
          && request.resource.data.role == 'customer';
    }
    
    match /offices/{officeId} {
      allow read: if isSystemAdmin() || isSpecificOfficeAdmin(officeId);
      allow write: if isSystemAdmin();
    }
    
    match /templates/{templateId} {
      allow write: if isOfficeAdmin();
      allow read: if isOfficeAdmin() || isCustomer();
    }
    
    match /forms/{formId} {
      allow read: if isSpecificOfficeAdmin(resource.data.officeId) || 
                    (isCustomer() && resource.data.customerId == request.auth.uid);
      allow update: if (isSpecificOfficeAdmin(resource.data.officeId) || 
                      (isCustomer() && resource.data.customerId == request.auth.uid && 
                       resource.data.status == "pending"));
      allow create: if request.auth != null 
                        && getUserData(request.auth.uid).role == 'office_admin';
    }
    
    match /document_jobs/{jobId} {
      allow create: if isOfficeAdmin();
      allow read: if false;
    }
    
    match /admins/{uid} {
      allow read, write: if false; // should never be changed
    }
    
    function isSystemAdmin() {
      return request.auth != null &&
            request.auth.token.role == "system_admin";
    }
    
    function isOfficeAdmin() {
      return request.auth != null &&
            request.auth.token.role == "office_admin";
    }
    
    function isSpecificOfficeAdmin(officeId) {
      return request.auth != null &&
            request.auth.token.role == "office_admin" &&
            request.auth.token.officeId == officeId;
    }
    
    function isCustomer() {
      return request.auth != null &&
            request.auth.token.role == "customer";
    }
    
    function getUserData(id) {
      return get(/databases/$(database)/documents/users/$(id)).data;
    }
  }
}